/* Overall */
*, *::before, *::after {
box-sizing: inherit;
}
html {
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #f2f2f2;;
}
img { max-width: 100%
}
a { text-decoration: none;
}


/*  Header */
.menu_list {
    list-style: none;
}
.menu_list>li {
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.menu_button>a {
    color: #000000;
}
.menu_button>a:hover,
.menu_button>a:focus {
    color: #81b3d2;
}
/* После нажатия на кнопку в меню остается цвет ховера. Не понял, как это исправить. */
.active >a {
    color: #766357;
}
.menu_button>a:active {
    color: rgba(0, 0, 0, 0.3);
}


/* Main */
.content {
    width: 1200px;
    margin: 0 auto;
}
.page_title {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.trip_reasons {
    font-size: 14px;

    text-align: center;
    color: #333333;
    line-height: 1.86;
}
.interested {
    font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
    text-align: center;
}
.trip_date_choice {
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
}


/* Main - Search form */
.hotel_search_title {
    font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}
.title_container{
    background-color: #766357;
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    height: 86px;
}
.title_container:hover,
.title_container:focus {
    background-color: #604e43;
}
.title_container:active a {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}
.hotel_search_title>a {
    color: #ffffff;
}
.trip_date_text, .tourist_quantity {
    font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
    color: #000000;
}
.find_hotel_button {
    font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
  color: #ffffff;
    background-color: #81b3d2;
    border: none;
}
.find_hotel_button:hover,
.find_hotel_button:focus {
    background-color: #669ec0;
}
.find_hotel_button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}


.trip_date_form {
    font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: left;
 background-color: #f2f2f2;
    border: none;
}
.trip_date_form:hover {
    background-color: #ebebeb;
}

.trip_date_form:focus {
    background-color: #ffffff;
}

.quantity_form {
    font-size: 14px;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
    background-color: #f2f2f2;
    border: none;
}
.tourist_quantity_form {
    background-color: #f2f2f2;
}
.minus, .plus {
    border: none;
    /* В стайлгайде при нажатии на плюс или минус не отображается цвет элемента. Как его определить? */
}


/* Footer */
.footer_contacts {
    font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}
.social_list {
    list-style: none;
}
.social_list>li {
    background-color: #81b3d2;
}
.social_list>li:hover,
.social_list>li:focus {
    background-color: #669ec0;
}
.social_list>li:active {
    background-color: #5496bd;
}

.academy_credits_text{
    font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  text-align: center;
}


/* Catalog */
.hotels_list {
    list-style: none;
}
.hotel_title {
    font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}
.hotel_title:hover,
.hotel_title:focus {
    color: #81b3d2;
}
.hotel_title:active {
    color: rgba(0, 0, 0, 0.3);
}


.hotel_type, .hotel_price {
    font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #333333;
}
.button_book {
    text-transform: uppercase;
}
.button_more, .button_book {
   font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
    border: none;
    background-color: #81b3d2;
}
.button_book {
    background-color: #766357;
}
.button_more:hover,
.button_more:focus {
    background-color: #669ec0;
}
.button_book:hover,
.button_book:focus {
    background-color: #604e43;
}
.button_more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}
.button_book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.overall_rating {
    font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #666666;
}

/* Layout header */
.content {
    background-color: #ffffff;
}

.menu_list {
    display: flex;
    margin-top: inherit;
    padding-left: 0;
    margin-bottom: inherit;

}
.menu_button {
    width: 239px;
    min-height: 56px;
}
/* Перепробовал всё, чтобы выровнять текст ссылок внутри меню. Получается выровнять по горизонтали, а по вертикали не понимаю как это работает.*/
.menu_button:nth-child(2) {
    margin-right: auto;
}
.menu_logo {
    position: absolute;
    left: 600px;
}
/* layout main */
.banner {
    width: 458px;
    margin: 0 auto;
    padding-top: 61px;
}
.banner_wrapper {
    height: 510px;
    background-image: url(/766433-sedona-27/img/banner_main.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.page_title {
    width: 440px;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 38px;
}
.trip_reasons {
    display: block;
    width: 489px;
    margin: 0 auto;
    margin-bottom: 56px;
}
.trip_date_choice {
    width: 434px;
    margin: 0 auto;
}
/* layout footer */
.footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social_list {
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 0;
}
.social_list>li {
    width: 46px;
    height: 48px;
}
.social_icon {
    width: 100%;
    margin: auto;
}
.academy_credits {
    width: 197px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* layout catalog */
.hotels_list {
    padding-left: 0;
}
.hotels_card {
    display: flex;
    height: 150px;

}
.hotel_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}
.hotel_description_row1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.hotel_description_row3 {
    display: flex;

}
.hotel_description_row3>a:nth-child(2) {
    margin-right: auto;
}

.hotel_photo_block {
    margin-right: 30px;
    margin-left: 72px;
}
.hotel_title {
    padding: 0;
    margin: 0;
}
.button_more {
    width: 110px;
    height: 27px;
    text-align: center;
    margin-right: 6px;
}
.button_book {
    width: 142px;
    height: 27px;
    text-align: center;
}
.rating_stars:last-child, .overall_rating {
    margin-right: 72px;
}
.overall_rating {
    display: block;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    text-align: center;
}
.hotel_type {
    display: inline-block;
    width: 110px;
    margin-right: 6px;
}





